[2018-04-27 15:03] lauracowen opened #1 "Review comments"
- [x] Change `pom.xml` from `RELEASE` to `17.0.0.4` release version to avoid `minify` issue https://github.com/OpenLiberty/open-liberty/issues/3102

- [x] Remove as much unnecessary stuff from the `pom.xml` (and elsewhere in the project) as possible without changing the app/guide.

- [x] Fix the `[INFO] [WARNING ] SRVE0190E: File not found: /favicon.ico` warning.
   (Added OL.io's favicon into roo

[2018-05-07 14:02] Kubik42 opened #2 "Feedback"
**Header:**
- [x]  I would remove the "Java" part from "Open Liberty Java application server"
- [x] Can you use 18.0.0.1 or does it have to be 17.0.0.4? You can change the version to `RELEASE` to make it pull the latest GM build.

**Cloning and running the application on an Open Liberty server:**
- [x] I suggest using `liberty:start-server` instead of `liberty:run-server` since the former will run

[2018-05-15 16:36] sishida opened #3 "ID feedback"
**ID Critique for Getting started with Open Liberty application server**
- [x] Please note that some of the suggested edits are to help in translation. From what I understand, we're currently not translating the guides into any other languages, but I figure that we can make them translation-ready now and help ourselves out in the future if we ever do decide to translate. :)

**Overall**
- [x] We t

[2018-05-17 14:21] JunyiSun opened #4 "Review feedback"
- [x] There are still some questions that haven't been removed from the guide.
- [x] Is it possible to use a JSON formatter to format the following piece and then display on the browser?
{"java.vendor":"Oracle Corporation","default.https.port":"9443","sun.java.launcher":"SUN_STANDARD","sun.management.compiler":"HotSpot 64-Bit Tiered Compilers","shared.resource.dir":"/Users/laura/github/lauracowen/

[2018-05-18 17:43] sishida commented on #3
**ID Critique for Getting started with Open Liberty application server**
- Please note that some of the suggested edits are to help in translation. From what I understand, we're currently not translating the guides into any other languages, but I figure that we can make them translation-ready now and help ourselves out in the future if we ever do decide to translate. :)

**Overall*
- We try to avo

[2018-06-11 19:15] #2 closed

[2018-06-12 20:51] Kubik42 commented on #3
Hi @sishida! Can you look at #5? I made the changes above + some other tweaks to the README.adoc file

[2018-06-15 17:27] lauracowen opened #9 "Laura's review feedback"
- [x] The way `system` is highlighted in “Using Maven, you will build a simple `system` microservice that collects” is a bit weird. I think maybe reword it to “Using Maven, you will build a simple microservice (called `system`) that collects”

- [x] typo: “how to package your the application”
- [x] Maybe remove “a” from “a containerization software” (“a software” isn’t really quite right)
_I ended

[2018-06-15 17:44] andrewdes opened #10 "Review Feedback"
**Building and running the application**

- [x] "or run the liberty:stop-server goal from another shell session like so: "
_Perhaps it would be useful to specify that the goal should be ran from the start directory._

**Updating the server configuration without restarting the server**

- [x] "Next, open a new shell session and repackage the server with the mvn package command."
_Once again, perhap

[2018-06-15 20:56] Kubik42 commented on #10
Done. You can find the changes in #11 Feel free to close if anything is good.

[2018-06-15 20:56] Kubik42 commented on #9
Done. You can find the changes in #11 Feel free to close if anything is good.

[2018-06-15 23:48] #10 closed

[2018-06-18 13:40] proubatsis opened #12 "Feedback"
* `mvn install -P minify-runnable-package` after running this command the jar is still `93MB`
* `mvn clean package -P docker-image` fails
[code]

[2018-06-18 14:37] Kubik42 commented on #12
- as far as I'm aware, minify is currently bugged and doesn't work
- did you start your docker daemon before trying to build the img?

[2018-06-18 14:38] proubatsis commented on #12
@Kubik42 Yes, the daemon was started. Running the `docker images` command from the same terminal showed me the images that I already had.

[2018-06-19 14:12] Kubik42 commented on #12
Is there anything else? Feel free to close if not.

[2018-06-19 14:21] #12 closed

[2018-06-20 19:03] sishida commented on #3
Thanks for making the changes, @Kubik42! I am closing this issue. :)

[2018-06-20 19:03] #3 closed

[2018-06-25 14:52] evelinec commented on #4
@JunyiSun can you review and close this issue. Thanks.

[2018-06-25 14:52] evelinec commented on #1
@lauracowen can you review this issue for closure? Thank you.

[2018-06-25 14:52] evelinec commented on #9
@lauracowen can you review this issue for closure? Thank you.

[2018-06-29 11:31] yeekangc opened #16 "Must fix issues before publishing"
- The draft repo is "draft-guide-gettingstarted" while the git clone command in the guide is "git clone https://github.com/openliberty/guide-getting-started.git". Note the "-" between "getting" and "started". Be sure to rename correctly for publishing.

- "It also deploys to every major developer platform, including Docker, Kubernetes, and Cloud Foundry": I find "developer platform" weird here. Ma

[2018-06-29 14:38] Kubik42 commented on #16
- renamed repo to `guide-getting-started`
- changed to "cloud platform"
- changed snippet to
[code]
- good catch, fixed!
- as discussed with you and Laura, I dropped the version numbers and changes the size to 100 MB +
- double checked the min jar size, its 37 MBs
- right, that would be good to have, I added brief installation instructions

[2018-06-29 17:49] Kubik42 commented on #1
@yeekangc addressed the left over items

[2018-06-29 19:52] evelinec commented on #16
There was a problem with the seo tags being used in the guide causing the changes aren't able to refresh on the test site. It's been fixed as, "the metadata needs `page-` so that Jekyll can pick up the information when building the <head> of the guide page."

[2018-08-05 21:59] jytu opened #21 "Minor change to Dockerfile"
Could you please add these 2 lines to the Dockerfile before running the unzip command?

RUN apt-get update
RUN apt-get install unzip

unzip was removed from Ubuntu and docker is failing to create an image.

[2018-08-05 22:21] jytu opened #22 "com.spotify needs javax.activation dependency"
<plugin>
                <groupId>com.spotify</groupId>
                <artifactId>dockerfile-maven-plugin</artifactId>
                <dependencies>
                    <dependency>
                        <groupId>javax.activation</groupId>
                        <artifactId>activation</artifactId>
                        <version>1.1.1</version>
                    </dependency>

[2018-08-09 14:54] #4 closed, assigned to Kubik42

[2018-08-14 15:11] #1 closed

[2018-08-14 16:02] #9 closed

[2018-08-14 16:02] #16 closed

[2018-08-15 17:45] Kubik42 commented on #21
Looks like the unzip plugin was recently removed from the open-liberty image. This has been fixed in 9ae3023710ca169175bf67610abc5d141baefc6f. Feel free to close

[2018-08-20 19:19] #21 closed

[2018-08-28 19:05] evelinec commented on #22
@Kubik42 is this breaking the guide?

[2018-08-29 11:56] jytu commented on #22
I don’t think it is breaking the guide, it makes lots of noise when you do maven build so it is hard to figure out what’s causing the real problem.

[2018-10-14 19:24] evelinec opened #33 "Enable issues and PR creation notification on the repo"

[2018-10-16 17:43] evelinec commented on #33
Done

[2018-10-16 17:43] #33 closed

[2018-10-17 15:09] lauracowen opened #34 "Maven goal for picking up server config changes is slow"
Raised by @scottkurz:

In the 'Updating the server configuration without restarting the server' section, the guide suggests doing a `mvn package` to update the config in a running server. For me that takes about 10+ sec (on Win10), so I've been doing `mvn liberty:create-server` which takes about 1 sec... a big enough difference to notice.

In summary (discussed with @gcharters ):

You’d use `mvn c

[2018-10-17 15:10] lauracowen commented on #34
Check if other guides do the same.

[2018-10-17 15:45] lauracowen commented on #34
Ok. If the other guides are only ever updating the app and not the server config, that makes it easier.

[2018-11-30 15:11] lauracowen opened #38 "getting-started guide app"
When I do the section about updating the app without restarting the server, it tells me I'll see some messages in the console but I actually see all these as well, which doesn't look so great:

[code]

[2018-11-30 15:28] lauracowen opened #39 "Old versions of Java EE and MicroProfile mentioned in text"
"By default, this JAR file comes with all the features available in Open Liberty, including the entirety of Java EE 7 and MicroProfile 1.3. "

This should really be updated to the latest versions. Or, probably better, reword to "By default, this JAR file comes with all the features available in Open Liberty, including the entirety of Java EE and MicroProfile. "

[2018-12-10 20:19] andrewdes opened #41 "Multipane Issues"
# General
- [x] Some code commands have periods after the path and others do not
- [x] Update parent POM
- [x] Failsafe plugin update
- [x] Add quiet flag in .yaml file

# Updating server configuration
- [x] Why is `server` in backticks in the code command?
- [x] "When enabled, the `mphealth-1.0` feature...", other guides omit the version number or refer to it more generically: "the MicroProfile H

[2018-12-14 15:15] justineechen commented on #41
- [ ] `mvn install liberty:run-server` fails

When I run
[code]
in the start server the PropertiesEndpointTest fails:
[code]
- [ ] `mpHealth` hotspot does not highlight any code
- [ ] `<logging/>` element right before "Edit the server configuration file"
- [ ] `runnable` and `runnable-package` hotspots in "Running the application from a minimal runnable JAR" are not showing up

[2018-12-14 18:39] justineechen commented on #41
- [ ] The `server.xml` in finish has an extra jaxrs feature whereas the start `server.xml` does not

[2018-12-14 18:46] justineechen commented on #41
- [ ] The `getting-started.jar` does not get generated after I run the `mvn install -P minify-runnable-package`

[2018-12-14 18:49] justineechen commented on #41
- [ ] Endpoint: `http://localhost:9080/system/properties` is unreachable in "Running the application in a Docker container"

[2018-12-14 19:53] Rachelwrq commented on #41
Deploying and packaging applications
#### Checking the Open Liberty server logs
- [ ] Don’t know why the `<logging traceSpecification="<component_1>=<level>:<component_2>=<level>:..."/>` is in a copy and paste block. Not sure if this and the paragraph underneath is necessary.

#### Checking the Open Liberty server logs
- [ ] `<logging/>` element was mentioned both above and below the action arrow,

[2018-12-14 21:25] andrewdes opened #42 "Missing block of code"
In the **Running the application from a minimal runnable JAR** section:

![image](https://user-images.githubusercontent.com/22628575/50028180-c93db880-ffbc-11e8-87ba-656daf513776.png)

[2018-12-14 21:44] andrewdes commented on #42
Opened PR to fix this: https://github.com/OpenLiberty/guide-getting-started/pull/43

[2018-12-17 03:54] andrewdes opened #44 "No runnable JAR file when using 18.0.0.4"
The `getting-started.jar` is **not** present in the target directory after running `mvn install -P runnable-package` or `mvn install -P minify-runnable-package`.

When switching the Open Liberty runtime version from RELEASE to 18.0.0.3 and running one of the above maven commands, the `getting-started.jar` is present.

[2018-12-17 19:53] yeekangc commented on #44
@lauracowen, can you please take a look at this issue and #45 and offer your thoughts?

[2018-12-17 22:10] andrewdes commented on #41
@justineechen

Not sure what you mean by this. When looking through the `server.xml` file from the start and finish the only difference I see is the MP Health feature (which is expected)

This is a known issue with the current guide and arises when using OL 18.0.0.4, the issue is here: https://github.com/OpenLiberty/guide-getting-started/issues/44

This seemed like a similar problem to the Docker

[2018-12-18 15:51] NottyCode commented on #44
It seems there is a bug in 18.0.0.4. It no longer swaps the .zip file extension to a .jar one if you specify a .zip file extension for the archive. I'd suggest filing a bug against OL to get this fixed, but the plugin will need to be updated for 18.0.0.4.

[2018-12-18 16:01] yeekangc commented on #44
That's what I have tried to convey that we need to look into this further.  @andrewdes @gkwan-ibm

[2018-12-18 17:31] gkwan-ibm commented on #44
need to revert the PR #45 when OL fixes the issue https://github.com/OpenLiberty/open-liberty/issues/6061

[2018-12-18 18:29] #42 closed, assigned to nobody

[2018-12-18 18:54] andrewdes opened #46 "Docker Section not working"
After completing the `Running the application in a Docker container` section, all of the commands completed successfully and there were no errors but when trying to access the http://localhost:9080/system/properties  URL I am faced with:
```Error 404: java.io.FileNotFoundException: SRVE0190E: File not found: /system/properties```

After switching the `<version.openliberty-runtime>` property from `

[2018-12-19 16:38] gkwan-ibm commented on #46
It is caused by https://github.com/OpenLiberty/open-liberty/issues/6073

[2018-12-28 16:29] nagaraja0yellapu opened #49 "maven goal for picking up source change is slow"
maven goal for picking up source change is slow not as shown in the https://github.com/OpenLiberty/guide-getting-started

**Expected:**
[INFO] [AUDIT] CWWKZ0003I: The application io.openliberty.guides.getting-started updated in 0.173 seconds.

**Result:**
CWWKZ0003I: The application getting-started updated in 9.092 seconds.

The system configuration is Win10, SSD hard disk & i7 processor (Lenovo T

[2018-12-28 16:30] nagaraja0yellapu commented on #49
The issue is same for even 18.0.0.3 as well

[2019-01-02 16:21] yeekangc commented on #49
@gkwan-ibm

[2019-01-02 21:14] justineechen commented on #41
### Checklist for Post-Review
**Through the browser:**
- [ ] Read through guide, making sure that the flow of the guide is good
- [ ] Click all links to make sure they lead to the correct place
- [ ] Make sure hotspots, code_commands and files are correct
- [ ] Run Acrolinx

[2019-01-02 21:18] justineechen commented on #41
- [ ] The `SystemHealth` hotspot in **Updating the source code without restarting the server
** points to the `pom.xml` file

[2019-01-07 21:33] gkwan-ibm commented on #49
@nagaraja0yellapu I cannot reproduce your problem. Would you mind to zip your server directory finish\target\liberty\wlp\usr\servers\GettingStartedServer and send it to us (attach it in this issue)?

[2019-01-09 22:27] gkwan-ibm opened #51 "Multipane feedback"
- [x] \<featureManager\> and \<feature\> are not indented correctly
[code]
- [x] remove \< and /\> for the \<component/\>  and \<level/\> to be as following because both are not for xml <node/>

The component element is a Java package or class, and the level element is one of the following logging levels: off, fatal, severe, warning, audit, info, config, detail, fine, finer, finest, all.

[2019-01-10 15:01] andrewdes commented on #51
Feedback has been addressed here: https://github.com/OpenLiberty/guide-getting-started/commit/b669934d70ff7f78b6e4d66140ce800448bbc597 and here: https://github.com/OpenLiberty/guide-getting-started/commit/94e53218ecf1e33f9102da12a2d8a4f2af8fff35

[2019-01-10 15:01] #51 closed

[2019-01-29 16:52] gcharters opened #54 "Update to use the new .tar.gz format for Docker build"
Liberty now supports `.tar.gz` server package format.  This means in the Dockerfile, we can simply do something like

[code]
Note, the server has to be called `defaultServer` in order to replace the default one and be started by the open-liberty image.

Note, there is a bug in the open liberty docker files at the moment that means `/liberty` does not point to `/opt/ol`.  `/liberty` is preferred be

[2019-02-05 22:05] gkwan-ibm commented on #46
Now it is caused by https://github.com/OpenLiberty/open-liberty/issues/6061

[2019-02-07 20:35] justineechen commented on #41
This guide has successfully been converted to multipane and has no blockers.

[2019-02-07 20:35] #41 closed

[2019-02-13 21:08] andrewdes opened #57 "Multipane Issues"
**Checking the Open Liberty server logs**
- [x] Try enabling detailed logging of the MicroProfile Health feature by adding the `<logging/>` element to your configuration file. -> `<logging/>` hotspot is wrong

**Running the application from a minimal runnable jar**
- [x] To omit the features that you don’t need and package the JAR with only the features that you defined in the `server.xml` file ->

[2019-02-13 21:14] justineechen commented on #57
https://github.com/OpenLiberty/guide-getting-started/commit/ab497d4d89eb36a922b222793928d8acae79f575

[2019-02-15 18:39] andrewdes commented on #57
- [ ] "Your pom.xml file is configured to include the `liberty-maven-plugin` Liberty Maven plug-in, which allows you to install applications into Open Liberty as well as manage the server instances." -> hotspot is wrong
- [ ] "The loose application support is enabled with the `<looseApplication/>` element in the `liberty-maven-plugin` plug-in." -> hotspots are wrong
- [ ] "To generate a runnable J

[2019-02-15 19:55] justineechen commented on #57
- @andrewdes  Do you think we should update it to say this JAR is approximately 1.5 MB? Or do you think I should remove this section?

[2019-02-20 16:05] evelinec commented on #57
Fixed these items:
* To omit the features that you don’t need and package the JAR with only the features that you defined in the `server.xml` file -> It might be more effective to highlight the features in the server.xml file instead of just switching to it
EC: the features hotspot line number is missing off by one

[2019-02-21 14:52] evelinec commented on #57
Regarding the point below, I think leaving it as "this JAR is over 100 MB" is fine. The jar I tested was about 130MB.

* "As a result, this JAR is over 100 MB. To omit the features that you don’t need and package the JAR with only the `features` that" -> hotspot is wrong **and** the should the 100 MB be updated to be more accurate?

[2019-02-21 15:34] evelinec commented on #57
@andrewdes can you take a quick look to see if the issues you raised had been addressed? If yes, close this issue. Thanks.

[2019-02-21 17:44] andrewdes commented on #57
@evelinec I just looked and the feedback has been addressed and all the hotspots are now highlighting the correct lines, closing the issue.

[2019-02-21 17:44] #57 closed

[2019-03-11 15:53] justineechen commented on #39
Specific Java EE versions and Microprofile versions are no longer included on the published site.

[2019-03-11 15:53] #39 closed

[2019-03-12 14:29] #46 closed

[2019-03-12 14:29] #44 closed

[2019-03-14 20:15] sschober opened #58 "docker container based service reports DOWN health"
When running the docker image as described in the last section of the guide the service reports a service STATE of DOWN for me:

![Bildschirmfoto 2019-03-14 um 21 07 52](https://user-images.githubusercontent.com/100225/54388205-86fc4400-469d-11e9-8b5d-472711544aa6.png)

I don't know if this intentional, as the code actually tests for  `wlp.server.name` being `GettingStartedServer` (see [here](http

[2019-03-15 16:58] gecock opened #59 "Typo in the Deploying and packaging applications guide"
### Issue

Notice: `liberty-maven-plugin` Liberty Maven plug-in

----
### Potential Fix
To make that more clear maybe it should be:

Or maybe just get rid of "Liberty Maven plug-in" all together and leave just `liberty-maven-plugin`:

[2019-03-18 14:31] yeekangc commented on #59
Yes, this is kinda weird and can be improved.  This was partly due to ID's guidance.  @chirp1, any thoughts?

[2019-03-18 19:27] gkwan-ibm commented on #58
@sschober Thanks to report this issue. I could reproduce the issue. We will address it soon.

[2019-03-20 11:13] lauracowen commented on #58
Detailed explanation from @gkwan-ibm after reproducing the issue:

When trying to run `/health` at the last section “Running the application in a Docker container”, the `/health` returned the service is DOWN. It is because the docker image uses `defaultServer` usually instead of `GettingStartedServer` or any other server name. The `SystemHealth` class check `System.getProperty("wlp.server.name").e

[2019-03-21 13:43] gkwan-ibm commented on #58
@lauracowen

Yes, it makes sense to use mpConfig as the Health guide but we can simply use a mpConfig property instead of the json and custom approach.

- Add mpConfig to the server.xml:
[code]

- Update the SystemHealth.java
[code]

[2019-03-21 14:18] yeekangc commented on #58
+1 to use environment variable since that's more the typical approach.

[2019-03-21 16:13] gkwan-ibm commented on #58
I asked Emily. The environment variable is static. The variable can be dynamically updated through server.xml.

[2019-03-22 22:00] dmorgant opened #61 "Comments on the getting started guide"
I was going through the guide and found the following:

- On the '**Building and running the application**' step
1) The phrase '...to include the liberty-maven-plugin Liberty Maven plug-in,....' reads awkwardly as it seems repetitive.  Should one of those be in parenthesis?
<img width="374" alt="image" src="https://user-images.githubusercontent.com/29490139/54854199-2f269400-4cc0-11e9-8006-760021f

[2019-03-27 13:34] andrewdes opened #64 "Update the Dockerfiles for OL docker image change #253"
Because the OL docker image is now running as non-root, it is causing an error in the **Running the application in a Docker container** when trying to build the Dockerfile using `mvn clean package -P docker-image`

[2019-03-29 15:58] gkwan-ibm commented on #64
verified

[2019-03-29 15:58] #64 closed

[2019-04-02 14:09] #58 closed

[2019-04-04 20:17] evelinec opened #68 "Enable getting started guide to run with daily build"
Looks like there're test steps defined in the travis.yml file to run automation test. However, this travis.yml file isn't being used in the daily build process. This task is to enable that.

[2019-04-04 20:19] evelinec opened #69 "Complete automation test coverage for getting-started guide"
Need to revisit the currently defined automation test coverage in the travis.yml file, and identify a complete coverage.

[code]

[2019-04-04 20:21] evelinec commented on #69
Consider the few things being mentioned:

- verify existing jar file
- verify docker

[2019-04-05 19:07] evelinec opened #71 "The getting started guide failed to run the app in docker"
This looks like the same issue as found in the docker guide in PR, https://github.com/OpenLiberty/guide-docker/pull/39, which only shows up on Linux environment. Error below:

[code]

[2019-04-05 19:31] evelinec commented on #71
Invalid.

[2019-04-05 19:31] #71 closed

[2019-04-08 14:13] gkwan-ibm commented on #61
for 3, we may add a link https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_loose_applications.html for loose application/config

[2019-04-10 20:54] justineechen commented on #61
1. https://github.com/openliberty/guide-getting-started/issues/59 is mentioned in this issue also.. I'm waiting on ID confirmation to change this paragraph

[2019-04-12 14:43] #59 closed

[2019-04-12 14:44] #61 closed

[2019-04-22 18:18] evelinec commented on #69
The current travisTest.sh script (below) to test the docker image doesn't pick up daily build tests. We need to enable this guide to test with daily docker images.

[code]

[2019-04-22 18:19] evelinec commented on #68
Pending on some test coverage issue to resolve in #69.

[2019-04-24 16:57] evelinec commented on #68
Verified that the daily build is running properly and successfully. Will let issue #69 fix the test coverage issue. Closed for now.

[2019-04-24 16:57] #68 closed

[2019-06-24 19:21] evelinec opened #87 "Hotspot issue"
- [ ] Create the SystemHealth class.
src/main/java/io/openliberty/sample/system/SystemHealth.java => doesn't point to the correct `SystemHealth.java` help, but rather the `pom.xml` file

[2019-07-04 15:13] NimG98 commented on #87
Issue has been addressed already, and merged to master.

- Referencing PR (from justine-patch to qa): https://github.com/OpenLiberty/guide-getting-started/pull/86

- Referencing PR (from qa to master): https://github.com/OpenLiberty/guide-getting-started/pull/88

[2019-07-04 15:13] #87 closed

[2019-07-31 18:22] evelinec opened #94 "Consider the title suggesion"
Michal suggested that this guide's title would better be, "Packaging and deploying applications" instead of the current one.

[2019-07-31 19:53] yeekangc commented on #94
@mbroz2, what's your suggestion?  The current title is "Packaging and deploying applications", right?

Tagging @lauracowen.

[2019-07-31 20:08] mbroz2 commented on #94
The current title is "Deploying and packaging applications" which seems backwards.

[2019-08-01 03:19] yeekangc commented on #94
Aa ... gotcha, @mbroz2.

[2019-08-01 08:52] lauracowen commented on #94
Heh, yeah, fair point. :)

[2019-08-01 14:50] gkwan-ibm commented on #94
Need to find any guides are referencing to this guide. They also need to be updated.

[2019-08-16 14:47] gkwan-ibm commented on #49
hi @nagaraja0yellapu, I am going to close this issue. If you still have this problem, you may reopen this issue or open an new issue. Thank you to report this to us.

[2019-08-16 14:47] #49 closed

[2019-08-23 20:37] NottyCode opened #98 "Superflous dependencies in guide"
If I comment out these dependencies the tests still run and pass:

[code]

[2019-08-26 13:58] andrewdes opened #99 "Wrong Hotspots"
Almost all of the hotspots pointing to the `pom.xml` need to be updated

[2019-08-29 21:43] gkwan-ibm opened #103 "devEx update"
- [x] use following dependencies instead of individual mp feature dependencies
[code]
- [x] try junit 5
- [x] reduce the test dependencies. Test may need to be refactored

[2019-09-03 14:43] #99 closed

[2019-10-02 15:53] yeekangc opened #111 "Use Jakarta EE dependency"
Jakarta EE 8 is available.  Update the guide to use Jakarta EE 8 dependency instead.

Should consider this as part of the dev mode updates.

@gkwan-ibm @lauracowen

[2019-10-10 20:58] yeekangc commented on #111
Update "It supports the full MicroProfile and Java EE APIs" to say "Jakarta EE" too.

[2019-10-10 21:01] yeekangc opened #115 "Intro order doesn't match content order"
I believe we will cover running in a container first and then as a server package?  I will split them into a separate paragraph from what comes before and switch the order of the sentences.

[2019-10-10 21:15] yeekangc commented on #103
Should indicate that this is exiting dev mode.

[2019-10-16 14:46] gkwan-ibm commented on #111
added with dev mode update and it was published on last night

[2019-10-16 14:46] #111 closed

[2019-10-17 14:28] #94 closed

[2019-10-17 14:28] #98 closed

[2019-10-17 14:30] #115 closed

[2019-11-08 19:14] #103 closed

[2019-11-13 16:17] evelinec opened #130 "travisTest needs to be updated after dev mode changes"
Currently, it's running `mvn -q clean package`, which is incorrect with the latest LMP?

[2019-11-13 16:17] evelinec commented on #130
@gkwan-ibm @NimG98

[2019-11-13 16:51] gkwan-ibm commented on #130
For Test 1, `mvn -q clean package` is enough to build war file for docker image.
For Test 2, `mvn -q clean package` is also required for the full cycle of `liberty:dev` or old `install` goal

[2019-11-13 16:51] #130 closed

[2020-02-26 16:34] Emily-Jiang opened #159 "Dockerfile is not right"
The current Dockerfile just copies server.xml but ignores server.env and bootstrap.properties. As a consequence, the variables used in server.xml are not replaced or normalised. It is much better to copy the essential three files from target to demonstrate a universal working Dockerfile.

[2020-02-26 18:00] yeekangc commented on #159
@gkwan-ibm

[2020-02-27 15:20] gkwan-ibm commented on #159
`COPY --chown=1001:0 src/main/liberty/config /config/`
The Dockerfile copies src/main/liberty/config to /config/. All files under src should be copied.
@Emily-Jiang would you clarify in which situation it not work? Do you mean that the server.env and bootstrap.properties generated by LMP are not copied?

Also, we assume that users can use `<variable defaultValue= />` in server.xml to specify the d

[2020-02-28 16:06] Emily-Jiang commented on #159
@gkwan-ibm the question is not this particular scenario where you can specifying the variables. The problem is that this guide is to demonstrate how to package your app. Copying config files from src is not a good approach as it limits the usage of variables being generated as part of build and populating bootstrap.properties or server.env. The files need to be copied from target not src, as end u

[2020-02-28 20:29] yeekangc commented on #159
Tagging @arthurdm @leochr in case they have thoughts.

[2020-02-28 23:06] arthurdm commented on #159
if the guide wants to showcase how to dynamically set variables that depend on the environment it is running on, then you could volume mount the boostrap.properties / server.env files, which would mimic a ConfigMap (or Secret) volume mount that would happen in k8s.

[2020-03-02 15:32] gkwan-ibm commented on #159
@yeekangc
Surely some files from target, e.g. .war file, but all?
- it will introduce dependency against LMP or LGP. Users need to run either of them first, then they can build the docker image
- LMP/LGP creates following files under the server config. Should we ask users to use them to build their docker image?
  - configDropins/defaults/system-test-vars.xml
  - configDropins/overrides/liberty-pl

[2020-03-24 16:41] gkwan-ibm opened #160 "Consider to talk about new OL feature for console log"
Consider to add a new section before “Checking the Open Liberty server logs” to talk about new OL console format: `dev`, `simple`, and `json`

dev mode (default) uses `dev` format. If developers want to see more information, they can update the server.xml by

[2020-03-24 16:48] gkwan-ibm commented on #160
@yeekangc what do you think about this suggestion?
@yeekangc and @ericglau is it worth the dev mode to support change the console format instead of asking developers to add configuration into the server.xml? FYI, Prasha suggest to use  bootstrap.properties or environment variables.

[2020-03-24 17:30] gkwan-ibm opened #161 "Consider to talk about how to use OL daily and/or beta build"
Developers may want to use OL daily/beta build because of bugs/new features. The guide should teach them how to do.

[2020-03-25 14:01] gkwan-ibm commented on #160
pending on https://github.com/OpenLiberty/ci.maven/issues/762

[2020-04-07 11:59] lauracowen opened #162 "Change guide name to "Getting started with Open Liberty""
I know, I know, we changed it once but...

- I think we’ve basically agreed that getting started experience is “getting started with open liberty” (not with microservice development), and this guide does that.
- I don’t think my idea to make it be more a “packaging” guide is that useful now, if it ever was.
- I think we still refer to it as the “getting started guide”.
- It’s not really demonstrat

[2020-04-07 13:31] yeekangc commented on #162
@gkwan-ibm @NimG98, can you please handle?  Should ensure meta-data is updated accordingly and reflect what we want to capture and convey to users.

[2020-04-14 15:16] #162 closed

[2020-04-15 19:32] gkwan-ibm opened #168 "Use open metrics format"
Reported and contributed by @anton-balaniuc: #124

[2020-04-22 19:28] #168 closed

[2020-06-19 21:11] gkwan-ibm commented on #38
@jj-zhang Would you check whether the problem still happen?

[2020-06-19 21:45] gkwan-ibm commented on #34
close because the guide was updated to use dev mode.

[2020-06-19 21:45] #34 closed

[2020-06-19 21:49] gkwan-ibm commented on #22
close because the guide was updated to use ideal pom.xml and no more requires dockerfile-maven-plugin

[2020-06-19 21:49] #22 closed

[2020-06-23 15:15] jj-zhang commented on #38
This problem doesn't show up in the up-to-date getting started guide.

[2020-06-24 17:18] #38 closed

[2020-06-25 17:07] #161 closed

[2020-06-29 16:38] gkwan-ibm commented on #69
- daily docker build cover to test the getting started guide
- verify runnable jar by GM candidate manual test
- in travisTest.sh, we can run the runnable jar  with background by `&`
  - need to verify the url by curl as testing docker
  - need to find a way to kill the java process

[2020-07-06 15:36] gkwan-ibm opened #188 "Accessibility Verification Testing (AVT)"
- AVT 1 = Automated testing
  - https://github.com/OpenLiberty/guides-common/issues/486
- [ ] AVT 2 = Manual testing
  - a picture requires alternative text to describe the image
  - table requires alternative text
  - test color contrast
  - test using keyboard instead of mouse
- [ ] AVT 3 = Screen Reader testing
  - use JAWS screen reader

[2020-07-20 22:24] MaiHameed opened #189 "Minor typo in guide"
Console output does not match `server.xml` version
![image](https://user-images.githubusercontent.com/26514093/87992398-2dd4c980-cab6-11ea-83f9-d2b8b7201395.png)

[2020-07-21 20:35] TiagoF99 commented on #189
solved issue with PR https://github.com/OpenLiberty/guide-getting-started/pull/190

[2020-07-22 20:35] TiagoF99 commented on #188
im not sure if the following need addressing, but my findings for AVT2 testing:
- tables have no title/alt text
- links/<a> tags have no title/alt text
- copy-to-clipboard for commands aren't accessible through keyboard

[2020-08-15 20:39] nezarat opened #192 "guide is not useful at all"
it is not a getting start project! it is a demo! in the getting start project you step by step tell the developer what to do to build this sample project, not just ask him to run and test it...

[2020-08-15 22:25] DannyS03 commented on #192
Hi @nezarat. Thank you for raising your concern.

The **Getting started with Open Liberty** is an introductory-level guide to introduce Open Liberty to the developer. The guide aims to provide the developer with initial exposure in using the Open Liberty server by developing a Java application on Open Liberty with Maven and Docker. The goals of the guide are reflective in the `What you'll learn` s

[2020-08-17 15:06] yeekangc commented on #192
Yes, appreciate your feedback, @nezarat.

Do you mind to elaborate on the parts that weren't useful from your perspective and how we may improve things?  Thank you.

Are you looking for something that helps you create a starter project?

Cc @lauracowen @gkwan-ibm

[2020-11-25 17:32] yeekangc opened #207 "Add pointers to Open Liberty Tools"
Add pointers to Open Liberty Tools for the different editors/IDEs supported by Open Liberty to enable developers to find and try what is available to them in the editor or IDE that they use.  Perhaps in a new section towards the end of the guide?

This isn't to walk through how to use the tools but simply to inform developers what's available for them to check out themselves.

Cc @lauracowen @gkwa

[2020-11-25 18:06] lauracowen commented on #207
Could be buttons to download each of the addons? No text other than the button labels.

[2020-12-01 14:23] gkwan-ibm opened #208 "Develop application using LMP devc"
Introduce users how to use LMP devc (dev mode with containter feature) to develop application running by a container.

Consider to add a new section before the current section "Running the application in a Docker container"

[2020-12-01 14:23] gkwan-ibm commented on #208
@yeekangc @lauracowen

[2020-12-01 14:39] yeekangc commented on #208
I feel a new section -- after walking through running locally and before containerizing -- that focuses on the option to develop using devc with Liberty in containers is appropriate.  Open to suggestion and feedback.

[2020-12-03 15:21] pgunapal opened #209 "Update to use MP Health 3.0"
NEW changes in mpHealth-3.0:

- The `HealthCheckResponseBuilder.state(Boolean UP)` method was also renamed to `HealthCheckResponseBuilder.status(Boolean UP)` for HealthCheckResponse deserialization compatibility, where the JSON health check response string can now be deserialized into an HealthCheckResponse object.
- The deprecated `@Health` qualifier was removed, and users should use the `@Livene

[2020-12-14 16:59] gkwan-ibm opened #212 "Should show the path of the trace.log"
In https://draft-openlibertyio.mybluemix.net/guides/getting-started.html#checking-the-open-liberty-server-logs., trace.log is not clear to the readers.

Better to show the path `target/liberty/wlp/usr/servers/defaultServer/logs/trace.log`

[2021-01-21 21:29] jakub-pomykala opened #224 "Update the docker output message"
The docker output message is out dated and needs to be be updated to show the output that the new versions of docker give.

[2021-02-03 15:19] yeekangc commented on #208
@jamiecoleman92

[2021-02-24 14:49] gkwan-ibm commented on #208
PR was tested by the team and reviewed by ID

[2021-02-24 18:50] yeekangc commented on #208
The latest draft per https://github.com/OpenLiberty/guide-getting-started/pull/215 looks good to me.

[2021-03-03 15:42] gkwan-ibm commented on #208
close
- a new section was added at https://openliberty.io/guides/getting-started.html#developing-the-application-in-a-docker-container

[2021-03-03 15:42] #208 closed

[2021-05-05 19:42] priyyanshi opened #235 "No console.log file in the given path"
In step 8, the instructions say, "These messages are also logged to the target/liberty/wlp/usr/servers/defaultServer/logs/console.log file. You can find the complete server logs in the target/liberty/wlp/usr/servers/defaultServer/logs directory. The console.log and messages.log files are the primary log files that contain console output of the running application and the server. " The directory on

[2021-06-03 18:14] yeekangc opened #245 "Review coverage of Getting Started guide"
- Review what is covered in the GS guide and ensure that it reflects the latest
- Review terminology used for accuracy

Cc @gkwan-ibm

[2021-06-15 12:59] scottkurz opened #247 "Updating context root breaks IT in finished tests"
I understand there's not a strict contract saying the ITs must pass when you're done following the guide, but I think it's better if they do.

To match the context root change you'd need to change the test to:
[code]
Note the leading and trailing slashes.  Maybe the slashes could be added to the Java instead.

[2021-06-17 16:56] gkwan-ibm commented on #224
@jakub-pomykala is this issue resolved?

[2021-07-19 18:43] slominskir opened #252 "Context Root Not Found"
Attempting to run the finished product and notice there is a "Context Root Not Found" error.   Doesn't inspire confidence.

[code]
![Screenshot](https://user-images.githubusercontent.com/2642119/126210768-a9e08263-9858-4bc9-b0ce-63a5fb4675e4.png)

[2021-07-19 19:18] slominskir commented on #252
The path that works is actually now:  http://localhost:9080/dev/system/properties.   This is likely a regression due to: https://github.com/OpenLiberty/guide-getting-started/pull/251

[2021-07-26 20:01] gkwan-ibm commented on #252
The guide content does not ask users to run as the description described. At the last 2 sections, the guide does tell users to visit `http://localhost:9080/dev/system/properties`.

[2021-07-26 22:24] slominskir commented on #252
No, the guide does ask users to use the incorrect link.  Its in the [Building and Running the application](https://github.com/OpenLiberty/guide-getting-started/blob/f97424712da0b4272d5079867e16773660192f07/README.adoc) section around line 117.

Also, last I checked the demo doesn't actually work fully because of the paths issue - the dashboard doesn't load all of the data.

[2021-07-27 13:20] gkwan-ibm commented on #252
In the Building and Running the application section, the guide asks users to run the application at the start directory (not the finish directory).

[2021-07-27 13:24] gkwan-ibm commented on #252
Would you clarify what is the demo, how to reproduce the paths issue, and what is the dashboard?

[2021-07-27 13:37] slominskir commented on #252
If you simply jump to the end and run the finished project it doesn't work.    That's the "demo".  The dashboard is the welcome page at:

http://localhost:9080/dev/

The paths issue is that the welcome page doesn't find the system properties.

[2021-07-27 15:54] gkwan-ibm commented on #252
should use http://localhost:9080/dev/system/properties as the last 2 sections of the guide

[2021-07-27 16:00] gkwan-ibm commented on #252
Assume no file is changed.

If go to the start directory and run `mvn liberty:run`, need to visit http://localhost:9080 and the system properties should be shown.

If go to the finish directory and run `mvn liberty:run`, need to visit http://localhost:9080/dev and the system properties should be shown, but not work now. We will investigate and fix it.

[2021-07-27 16:31] gkwan-ibm commented on #252
Suggest to fix
- the finish/src/main/webapp/js/mpData.js to update the `getSystemPropertiesRequest()` function to
  - `var url = "http://localhost:9080/dev/system/properties";`
  - tag that line
- the README.adoc
  - at the **Developing the application in a Docker container** section, add instruction to replace mpData.js to update the url with a hotspot

[2021-08-06 20:29] eBeyzaG opened #259 "Build fails on liberty:run"
I'm trying the  guide but my build fails.
mvn liberty:run command causes this error.

[INFO] ------------------------------------------------------------------------
[INFO] Total time:  7.002 s
[INFO] Finished at: 2021-08-06T23:01:35+03:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal io.openliberty.tools:liberty-maven-plugin:3.3.4:r

[2021-08-09 13:16] gkwan-ibm commented on #252
close
- the issue was fixed as https://github.com/OpenLiberty/guide-getting-started/issues/252#issuecomment-887635742

[2021-08-09 13:16] #252 closed, assigned to ryan-storey

[2021-08-09 13:49] gkwan-ibm commented on #259
hi @eBeyzaG

Based on your timestamp, I suspect the Open Liberty was being refreshed to a new release 21.0.0.8 when you run `mvn liberty:run`. Would you retry your scenario?  Also would you give us more information?
- `mvn -version`
- which directory you run `mvn liberty:run`? at `guide-getting-started/finish/` or `guide-getting-started/start/`
- did you change any file? If yes, would you tell us

[2021-08-09 14:52] eBeyzaG commented on #259
I retried the scenario, it still fails.
Here's mvn -version:

Maven home: /Users/username/Applications/apache-maven-3.8.1
Java version: 1.8.0_111, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home/jre
Default locale: tr_TR, platform encoding: UTF-8
OS name: "mac os x", version: "10.16", arch: "x86_64", family: "Mac"

- which directory you run mvn

[2021-08-09 14:58] gkwan-ibm commented on #259
ref: https://github.com/OpenLiberty/open-liberty/issues/18104

[2021-08-09 15:34] gkwan-ibm commented on #259
hi @eBeyzaG would you try following?
- set JAVA_HOME to `/Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home` instead of `/Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home/ire`
-  update the guide-getting-started/start/pom.xml to use Open Liberty 21.0.0.7 by adding the  `configuration` for the `liberty-maven-plugin` as following to see whether the problem is a regressio

[2021-08-09 16:46] eBeyzaG commented on #259
I made sure JAVA_HOME points to jdk home instead of jre but mvn -version still shows it as jre.
I added the configuration and retried the build, it works now. Thank you

[2021-08-09 17:22] gkwan-ibm commented on #259
hi @eBeyzaG

It is good to know that 21.0.0.7 work but we would like to find out why not 21.0.0.8.
- when you run 21.0.0.7, did you see following messages from the console? I would like to know which maven repository you used at your location.
[code]

- Did you add settings.xml to your `~/.m2` directory?
- Would you mind to try out 21.0.0.8 later?
  -  `rm -fr target`
  - `mvn liberty:run`

[2021-08-09 18:45] eBeyzaG commented on #259
Here is the location:

Downloaded from central: https://repo.maven.apache.org/maven2/io/openliberty/openliberty-runtime/21.0.0.7/openliberty-runtime-21.0.0.7.zip (186 MB at 1.6 MB/s)

I didn't explicitly make any changes to .m2 directory

I ran these commands and the build was successful but I think it's still working on 21.0.0.7 because these showed up in console:

[INFO] Launching defaultServer

[2021-08-10 15:14] gkwan-ibm commented on #259
Our colleague at Turkey could not reproduce this problem.

Would you retry 21.0.0.8 again to eliminate the possibility of the maven repository not ready for Open Liberty 21.0.0.8 on yesterday?

If problem still happen, would you mind to remove the downloaded artifacts for Open Liberty and retry 21.0.0.8?
[code]

Thanks

[2021-08-10 20:02] eBeyzaG commented on #259
I tried both, problem still happens.

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  53.789 s
[INFO] Finished at: 2021-08-10T22:59:46+03:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal io.openliberty.tools:liberty-maven-plugin:3.3.4:run (default-cli) on projec

[2021-08-16 13:59] gkwan-ibm commented on #247
close
- fixed

[2021-08-16 13:59] #247 closed, assigned to nobody

[2021-08-17 18:27] ghost opened #260 "Cannot generate a working JAR"
Hi!

I was not able to complete the last step of the guide "Running the application from a minimal runnable JAR". The generated JAR file is only about 11 MB big. When I start the server I get the following errors:

[ERROR   ] CWWKF0001E: No se ha podido encontrar una definición de característica para mpconfig-2.0
[ERROR   ] CWWKF0001E: No se ha podido encontrar una definición de característica par

[2021-08-25 20:02] gkwan-ibm commented on #260
hi @vscakramis

I suspect that you either ran `mvn clean` or removed the target directory or directly jumped to the last step. If it is the case, because didn't run `mvn liberty:run` or `mvn liberty:dev`( that install Open Liberty and required features), you need to run `mvn package liberty:create liberty:install-feature liberty:deploy` before `mvn liberty:package -Dinclude=runnable`, i.e.
[code]

[2021-09-15 13:41] gkwan-ibm commented on #259
hi @eBeyzaG

As I know, the  Open Liberty 21.0.0.8 in the maven repo has missing some metadata. I am not sure that it caused your problem or not. Open Liberty 21.0.0.9 has been released on Sep 3. It fixed missing metadata issue. the  If you have time, would you try your scenario again?

Thanks

[2021-09-18 12:39] eBeyzaG commented on #259
Unfortunately I still get the error with 21.0.0.9. I also want to add that the error occurs on Windows and MacOS. When I try the command on Ubuntu, it works fine.

[2021-10-27 21:32] gkwan-ibm commented on #209
close
- already updated to use mpHealth-3.0

[2022-01-26 02:27] mattwelke opened #265 "Getting Started guide feedback (very nice! add debugging?)"
I clicked the green button at the end to indicate I was happy with the guide, but there was no room for comment, so I figured I'd leave one here.

This tutorial was A+. I came here after reading the first few chapters of [Practical Cloud-Native Java Development with MicroProfile](https://www.packtpub.com/product/practical-cloud-native-java-development-with-microprofile/9781801078801) and learning

[2022-01-26 02:40] mattwelke commented on #235
I completed the guide today and this worked for me:

![image](https://user-images.githubusercontent.com/7719209/151094705-e73476fb-6f98-4520-8c04-f7fcf0c053be.png)

I had a different issue though which was that after adding code that I expected would log a message when the health endpoint was hit, and then hitting the endpoint, I didn't see the logged message anywhere. It wasn't in any of the file

[2022-08-24 16:11] #224 closed

[2022-09-12 16:37] Emily-Jiang opened #279 "Test not working"
The test does not work for me as the system property `context.root` returns `dev`. Therefore, I got 404 instead of 200.

[2022-09-13 14:59] gkwan-ibm commented on #279
Hi @Emily-Jiang
I assume you are talking about test fail in the "[Updating the server configuration without restarting the server](https://openliberty.io/guides/getting-started.html#updating-the-server-configuration-without-restarting-the-server)" section after dev mode and press `enter/return`

[2022-09-13 15:07] gkwan-ibm commented on #279
Suggest following update:
- update line 91 of `start/pom.xml`
  - change `<context.root>/dev</context.root>` to `<context.root>/</context.root>`
-  in the "[Updating the server configuration without restarting the server](https://openliberty.io/guides/getting-started.html#updating-the-server-configuration-without-restarting-the-server)" section, test should pass
- in the "[Developing the applicati

[2022-09-13 19:34] shin19991207 commented on #279
Addressed in https://github.com/OpenLiberty/guide-getting-started/pull/280

[2022-09-14 14:52] scottdangelo opened #281 "mkdir /home/theia: permission denied. when running `mvn liberty:devc -DserverStartTimeout=300` in Getting Startee with Open Liberty"
Doing the Lab:
Getting Started with Open Liberty[https://openliberty.io/guides/getting-started.html]
Using:
https://labs.cognitiveclass.ai/v2/tools/cloud-ide-kubernetes
with the:
 Skills Network Lab
In the section:
Developing the application in a Docker container

When I ran:
`mvn liberty:devc -DserverStartTimeout=300`

I got this error:
[code]

[2022-09-16 17:19] scottkurz commented on #281
Looking at the error message:

Is that indeed the expected userid (theia) ?    If so do you already have a /home/theia dir created?  What are the permissions of this dir?

[2022-09-16 18:15] scottdangelo commented on #281
I just launched from the Skills network lab and this is what was created for me. This directory worked for everything else. It seems singular to the container volume mount.

[2022-09-20 19:20] gkwan-ibm commented on #281
For security reason, the SN lab disallows certain operations and some permission. One thing to do is to change the user home by this command `sudo usermod -d /home/project theia` at the beginning of the Getting started section after `cd /home/project` command. It can reduce the mount `/home/theia/.m2/repository` problem. But, the `devc` mode still cannot be started correctly. We are looking for it

[2022-09-20 21:06] gkwan-ibm commented on #281
for reference, see https://github.com/OpenLiberty/ci.maven/issues/1596

[2022-09-21 16:36] gkwan-ibm commented on #279
close
- updated the guide

[2022-09-21 16:36] #279 closed, assigned to nobody

[2022-09-22 13:55] gkwan-ibm opened #287 "Restore the devc workaround for the cloud-hosted env"
For the issue #281, the cloud-hosted guide applied a workaround at PR #284.

When the [devc mode issue](https://github.com/OpenLiberty/ci.maven/issues/1596) is addressed, the guide may need to restore the workaround.

[2022-09-22 13:57] gkwan-ibm commented on #281
close
- the issue was temporarily fixed
- the change will be restored when https://github.com/OpenLiberty/ci.maven/issues/1596 is fixed

[2022-09-22 13:57] #281 closed, assigned to nobody